In [27]:
!pip install BS4
!pip install Requests

Requirement already satisfied: BS4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from BS4) (4.6.3)
Requirement already satisfied: Requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from Requests) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from Requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from Requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from Requests) (3.0.4)

In [28]:
import warnings
warnings.filterwarnings("ignore")

In [29]:
import csv
import requests
from bs4 import BeautifulSoup
from IPython.display import HTML

In [30]:
url = 'https://www.worldometers.info/world-population/population-by-country/'
headers = {'User-Agent': "Chrome/54.0.2840.90"}
response = requests.get(url, headers=headers, verify=False)
html = response.content 


soup = BeautifulSoup(html, "html.parser")
#print(soup)
table = soup.find('tbody')

In [31]:
tmpRow = (table.findAll('tr'))
# print(tmpRow)
# The <tr> tag specifies a row in an HTML table.
# Each table data/cell is defined with a <td> tag.

In [32]:
list_of_rows = []
try:
    outfile = open("./population_by_country.csv", "w")  # create an empty file in write mode
    writer = csv.writer(outfile)
    
    # Add header to the file
    writer.writerow(["No.",	"Country (or dependency)", "Population(2020)", "Yearly Change",	"Net Change",	"Density(P/Km²)",	"Land Area(Km²)",	"Migrants(net)",	"Fert.Rate",	
                     "Med.Age",	"Urban Pop%",	"World Share"])
    for row in table.findAll('tr'):  # Get all the table rows and each row get the values.
        list_of_cells = []
        for cell in row.findAll("td"):
            text = cell.text.replace('&nbsp;', '')   # nbsp - non breaking space
            list_of_cells.append(text)
        arrLength = len(list_of_cells)
        writer.writerow(list_of_cells)
finally:
    outfile.close()

In [33]:
# data cleaning 
import pandas as pd
import numpy as np

df = pd.read_csv('./population_by_country.csv')
df.head(10)

   No. Country (or dependency) Population(2020)  ... Med.Age Urban Pop% World Share
0    1                   China    1,439,323,776  ...      38       61 %     18.47 %
1    2                   India    1,380,004,385  ...      28       35 %     17.70 %
2    3           United States      331,002,651  ...      38       83 %      4.25 %
3    4               Indonesia      273,523,615  ...      30       56 %      3.51 %
4    5                Pakistan      220,892,340  ...      23       35 %      2.83 %
5    6                  Brazil      212,559,417  ...      33       88 %      2.73 %
6    7                 Nigeria      206,139,589  ...      18       52 %      2.64 %
7    8              Bangladesh      164,689,383  ...      28       39 %      2.11 %
8    9                  Russia      145,934,462  ...      40       74 %      1.87 %
9   10                  Mexico      128,932,753  ...      29       84 %      1.65 %

[10 rows x 12 columns]

In [34]:
# delete the extra # column
df = df.drop(columns=['No.'])
df.head(10)

  Country (or dependency) Population(2020)  ... Urban Pop% World Share
0                   China    1,439,323,776  ...       61 %     18.47 %
1                   India    1,380,004,385  ...       35 %     17.70 %
2           United States      331,002,651  ...       83 %      4.25 %
3               Indonesia      273,523,615  ...       56 %      3.51 %
4                Pakistan      220,892,340  ...       35 %      2.83 %
5                  Brazil      212,559,417  ...       88 %      2.73 %
6                 Nigeria      206,139,589  ...       52 %      2.64 %
7              Bangladesh      164,689,383  ...       39 %      2.11 %
8                  Russia      145,934,462  ...       74 %      1.87 %
9                  Mexico      128,932,753  ...       84 %      1.65 %

[10 rows x 11 columns]

In [35]:
df.shape

(235, 11)

In [36]:
df = df.head(50)

In [37]:
df.to_csv("./cleanPopulationByCountry.csv")